#header{
    font-size: 20px;
    font-family: 'Dongle', sans-serif;
    /* border-bottom: 50%;
    border-color: red; */
}
#info{
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 50px;
}
hr{
    margin-top: -30px;

}
body{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}